<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>hoanphan.nava.tech</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Core/Result.swift</string>
						<string>Core/Entities/UserEntity.swift</string>
						<string>Core/Entities/Book.swift</string>
						<string>Core/Entities/Country/ItemRegionEntity.swift</string>
						<string>Core/Entities/Country/RegionEntity.swift</string>
						<string>Core/Entities/Country/SnippetRegionEntity.swift</string>
						<string>Core/Entities/ListPlay/DefautThumbnailsEntity.swift</string>
						<string>Core/Entities/ListPlay/HighThumbnailsEntity.swift</string>
						<string>Core/Entities/ListPlay/IdItemListPlay.swift</string>
						<string>Core/Entities/ListPlay/ItemPlayList.swift</string>
						<string>Core/Entities/ListPlay/ListPlayEntity.swift</string>
						<string>Core/Entities/ListPlay/MediumThumbnailsEntity.swift</string>
						<string>Core/Entities/ListPlay/PageInfoListPlay.swift</string>
						<string>Core/Entities/ListPlay/SnippetItemListPlayEntity.swift</string>
						<string>Core/Entities/ListPlay/ThumbnailEntity.swift</string>
						<string>Core/UseCases/DisplayCountryList.swift</string>
						<string>Core/UseCases/PlaylistUseCase.swift</string>
						<string>Core/Gateways/CountryGateway.swift</string>
						<string>Core/Gateways/UserGateway.swift</string>
						<string>Core/Gateways/PlaylistGateway.swift</string>
						<string>CustomView/CardView.swift</string>
						<string>CustomView/Modal.swift</string>
						<string>EntityGateway/API/ApiProvider.swift</string>
						<string>EntityGateway/API/TSAPI.swift</string>
						<string>EntityGateway/API/TSAPITargetType.swift</string>
						<string>EntityGateway/API/Gateways/ApiCountryGeteway.swift</string>
						<string>EntityGateway/API/Gateways/ApiPlaylistGateway.swift</string>
						<string>EntityGateway/Cache/CacheUsersGateway.swift</string>
						<string>EntityGateway/LocalPersistence/RealmConnectorManager.swift</string>
						<string>EntityGateway/LocalPersistence/Gateways/LocalPersistenceUserGeteway.swift</string>
						<string>Helper/Config.swift</string>
						<string>Helper/Demo.json</string>
						<string>Helper/LoadingHUDControl.swift</string>
						<string>Helper/TSDateTranform.swift</string>
						<string>Helper/ViewRouter.swift</string>
						<string>Helper/Extension/Array+Extension.swift</string>
						<string>Helper/Extension/UIDevice+Extension.swift</string>
						<string>UIColor+Extension.swift</string>
						<string>Helper/Extension/Date+Extension.swift</string>
						<string>Helper/Extension/Label+Extension.swift</string>
						<string>Helper/Extension/NumberFormatter+Extension.swift</string>
						<string>Helper/Extension/UIImage+Extension.swift</string>
						<string>Helper/Extension/UITableView+Extension.swift</string>
						<string>Helper/Extension/UIView+Extension.swift</string>
						<string>Helper/Extension/TextField+Extension.swift</string>
						<string>Helper/Extension/String+Extension.swift</string>
						<string>Helper/Extension/UICollectionView+Extension.swift</string>
						<string>Helper/Utils/ConstantDefine.swift</string>
						<string>Helper/Utils/Define.swift</string>
						<string>Helper/Utils/Log.swift</string>
						<string>Libarary/DatePicker/DatePickerDialog.swift</string>
						<string>Libarary/DatePicker/PickerViewDialog.swift</string>
						<string>Libarary/Moya-ObjectMapper/Observable+ObjectMapper.swift.swift</string>
						<string>Libarary/Moya-ObjectMapper/Response+ObjectMapper.swift</string>
						<string>Libarary/PageMenu/Classes/CAPSPageMenu.swift</string>
						<string>Libarary/PageMenu/Classes/CAPSPageMenu+Options.swift</string>
						<string>Libarary/PageMenu/Classes/CAPSPageMenu+UIConfiguration.swift</string>
						<string>Libarary/PageMenu/Classes/CAPSPageMenu+UIGestureRecognizerDelegate.swift</string>
						<string>Libarary/PageMenu/Classes/CAPSPageMenu+UIScrollViewDelegate.swift</string>
						<string>Libarary/PageMenu/Classes/CAPSPageMenuConfiguration.swift</string>
						<string>Libarary/PageMenu/Classes/MenuItemView.swift</string>
						<string>Scenes/BaseViewController.swift</string>
						<string>Scenes/Explore/Country/CountryConfigurator.swift</string>
						<string>Scenes/Explore/Country/CountryController.swift</string>
						<string>Scenes/Explore/Country/CountryPresenter.swift</string>
						<string>Scenes/Explore/Country/CountryViewRouter.swift</string>
						<string>Scenes/Explore/Country/Cell/CountryTableViewCell.swift</string>
						<string>Scenes/Explore/Country/Cell/CountryTableViewCell.xib</string>
						<string>Scenes/Explore/PlayList/PlaylistConfig.swift</string>
						<string>Scenes/Explore/PlayList/PlaylistController.swift</string>
						<string>Scenes/Explore/PlayList/PlaylistPresenter.swift</string>
						<string>Scenes/Explore/PlayList/PlaylistViewRouter.swift</string>
						<string>Scenes/Explore/PlayList/Cell/PlaylistTableViewCell.swift</string>
						<string>Scenes/Explore/PlayList/Cell/PlaylistTableViewCell.xib</string>
						<string>../Podfile</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>../Podfile</string>
			<key>TargetIndices</key>
			<array/>
			<key>Beginning</key>
			<string># Uncomment the next line to define a global platform for your project;
platform :ios, &apos;9.0&apos;
target &apos;___PACKAGENAME___&apos; do;
use_frameworks!;
pod &apos;Fabric&apos;;
pod &apos;RealmSwift&apos;;
pod &apos;Crashlytics&apos;;
pod &apos;MXParallaxHeader&apos;;
pod &apos;MZFormSheetPresentationController&apos;;
pod &apos;Alamofire&apos;, &apos;~&gt; 4.7&apos;;
pod &apos;ObjectMapper&apos;, &apos;~&gt; 3.3&apos;;
pod &apos;RxSwift&apos;, &apos;~&gt; 4.0&apos;;
pod &apos;Kingfisher&apos;, &apos;=4.8.0&apos;;
pod &apos;Moya&apos;, &apos;= 10.0.2&apos;;
pod &apos;SnapKit&apos;, &apos;~&gt; 4.0.0&apos;;
pod &apos;RxCocoa&apos;, &apos;~&gt; 4.0&apos;;
pod &apos;ALLoadingView&apos;, &apos;=1.1.4&apos;;
pod &apos;IQKeyboardManager&apos;
</string>
			<key>End</key>
			<string>
end
  </string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Core/Result.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Result.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
		</dict>
		<key>Core/Entities/UserEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/UserEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
			</array>
		</dict>
		<key>Core/Entities/Book.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/Book.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
			</array>
		</dict>
		<key>Core/Entities/Country/ItemRegionEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/Country/ItemRegionEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>Country</string>
			</array>
		</dict>
		<key>Core/Entities/Country/RegionEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/Country/RegionEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>Country</string>
			</array>
		</dict>
		<key>Core/Entities/Country/SnippetRegionEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/Country/SnippetRegionEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>Country</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/DefautThumbnailsEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/DefautThumbnailsEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/HighThumbnailsEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/HighThumbnailsEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/IdItemListPlay.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/IdItemListPlay.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/ItemPlayList.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/ItemPlayList.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/ListPlayEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/ListPlayEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/MediumThumbnailsEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/MediumThumbnailsEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/PageInfoListPlay.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/PageInfoListPlay.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/SnippetItemListPlayEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/SnippetItemListPlayEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/Entities/ListPlay/ThumbnailEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Entities/ListPlay/ThumbnailEntity.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Entities</string>
				<string>ListPlay</string>
			</array>
		</dict>
		<key>Core/UseCases/DisplayCountryList.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/UseCases/DisplayCountryList.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>UseCases</string>
			</array>
		</dict>
		<key>Core/UseCases/PlaylistUseCase.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/UseCases/PlaylistUseCase.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>UseCases</string>
			</array>
		</dict>
		<key>Core/Gateways/CountryGateway.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Gateways/CountryGateway.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Gateways</string>
			</array>
		</dict>
		<key>Core/Gateways/PlaylistGateway.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Gateways/PlaylistGateway.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Gateways</string>
			</array>
		</dict>
		<key>Core/Gateways/UserGateway.swift</key>
		<dict>
			<key>Path</key>
			<string>Core/Gateways/UserGateway.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
				<string>Gateways</string>
			</array>
		</dict>
		<key>CustomView/CardView.swift</key>
		<dict>
			<key>Path</key>
			<string>CustomView/CardView.swift</string>
			<key>Group</key>
			<array>
				<string>CustomView</string>
			</array>
		</dict>
		<key>CustomView/Modal.swift</key>
		<dict>
			<key>Path</key>
			<string>CustomView/Modal.swift</string>
			<key>Group</key>
			<array>
				<string>CustomView</string>
			</array>
		</dict>
		<key>EntityGateway/API/ApiProvider.swift</key>
		<dict>
			<key>Path</key>
			<string>EntityGateway/API/ApiProvider.swift</string>
			<key>Group</key>
			<array>
				<string>EntityGateway</string>
				<string>API</string>
			</array>
		</dict>
		<key>EntityGateway/API/TSAPI.swift</key>
		<dict>
			<key>Path</key>
			<string>EntityGateway/API/TSAPI.swift</string>
			<key>Group</key>
			<array>
				<string>EntityGateway</string>
				<string>API</string>
			</array>
		</dict>
		<key>EntityGateway/API/TSAPITargetType.swift</key>
		<dict>
			<key>Path</key>
			<string>EntityGateway/API/TSAPITargetType.swift</string>
			<key>Group</key>
			<array>
				<string>EntityGateway</string>
				<string>API</string>
			</array>
		</dict>
		<key>EntityGateway/API/Gateways/ApiCountryGeteway.swift</key>
		<dict>
			<key>Path</key>
			<string>EntityGateway/API/Gateways/ApiCountryGeteway.swift</string>
			<key>Group</key>
			<array>
				<string>EntityGateway</string>
				<string>API</string>
				<string>Gateways</string>
			</array>
		</dict>
		<key>EntityGateway/API/Gateways/ApiPlaylistGateway.swift</key>
		<dict>
			<key>Path</key>
			<string>EntityGateway/API/Gateways/ApiPlaylistGateway.swift</string>
			<key>Group</key>
			<array>
				<string>EntityGateway</string>
				<string>API</string>
				<string>Gateways</string>
			</array>
		</dict>
		<key>EntityGateway/Cache/CacheUsersGateway.swift</key>
		<dict>
			<key>Path</key>
			<string>EntityGateway/Cache/CacheUsersGateway.swift</string>
			<key>Group</key>
			<array>
				<string>EntityGateway</string>
				<string>Cache</string>
			</array>
		</dict>
		<key>EntityGateway/LocalPersistence/RealmConnectorManager.swift</key>
		<dict>
			<key>Path</key>
			<string>EntityGateway/LocalPersistence/RealmConnectorManager.swift</string>
			<key>Group</key>
			<array>
				<string>EntityGateway</string>
				<string>LocalPersistence</string>
			</array>
		</dict>
		<key>EntityGateway/LocalPersistence/Gateways/LocalPersistenceUserGeteway.swift</key>
		<dict>
			<key>Path</key>
			<string>EntityGateway/LocalPersistence/Gateways/LocalPersistenceUserGeteway.swift</string>
			<key>Group</key>
			<array>
				<string>EntityGateway</string>
				<string>LocalPersistence</string>
				<string>Gateways</string>
			</array>
		</dict>
		<key>Helper/Config.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Config.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
			</array>
		</dict>
		<key>Helper/Demo.json</key>
		<dict>
			<key>Path</key>
			<string>Helper/Demo.json</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
			</array>
		</dict>
		<key>Helper/LoadingHUDControl.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/LoadingHUDControl.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
			</array>
		</dict>
		<key>Helper/TSDateTranform.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/TSDateTranform.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
			</array>
		</dict>
		<key>Helper/ViewRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/ViewRouter.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
			</array>
		</dict>
		<key>Helper/Extension/Array+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/Array+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/UIColor+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/UIColor+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/UIDevice+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/UIDevice+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/TextField+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/TextField+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/String+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/TextField+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/Date+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/Date+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/Label+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/Label+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/NumberFormatter+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/NumberFormatter+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/UIImage+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/UIImage+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/UITableView+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/UITableView+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/UIView+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/UIView+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Extension/Helper/Extension/UICollectionView+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Extension/UICollectionView+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Extension</string>
			</array>
		</dict>
		<key>Helper/Utils/ConstantDefine.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Utils/ConstantDefine.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Utils</string>
			</array>
		</dict>
		<key>Helper/Utils/Define.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Utils/Define.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Utils</string>
			</array>
		</dict>
		<key>Helper/Utils/Log.swift</key>
		<dict>
			<key>Path</key>
			<string>Helper/Utils/Log.swift</string>
			<key>Group</key>
			<array>
				<string>Helper</string>
				<string>Utils</string>
			</array>
		</dict>
		<key>Libarary/DatePicker/DatePickerDialog.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/DatePicker/DatePickerDialog.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>DatePicker</string>
			</array>
		</dict>
		<key>Libarary/DatePicker/PickerViewDialog.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/DatePicker/PickerViewDialog.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>DatePicker</string>
			</array>
		</dict>
		<key>Libarary/Moya-ObjectMapper/Observable+ObjectMapper.swift.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/Moya-ObjectMapper/Observable+ObjectMapper.swift.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>Moya-ObjectMapper</string>
			</array>
		</dict>
		<key>Libarary/Moya-ObjectMapper/Response+ObjectMapper.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/Moya-ObjectMapper/Response+ObjectMapper.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>Moya-ObjectMapper</string>
			</array>
		</dict>
		<key>Libarary/PageMenu/Classes/CAPSPageMenu.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/PageMenu/Classes/CAPSPageMenu.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>PageMenu</string>
				<string>Classes</string>
			</array>
		</dict>
		<key>Libarary/PageMenu/Classes/CAPSPageMenu+Options.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/PageMenu/Classes/CAPSPageMenu+Options.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>PageMenu</string>
				<string>Classes</string>
			</array>
		</dict>
		<key>Libarary/PageMenu/Classes/CAPSPageMenu+UIConfiguration.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/PageMenu/Classes/CAPSPageMenu+UIConfiguration.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>PageMenu</string>
				<string>Classes</string>
			</array>
		</dict>
		<key>Libarary/PageMenu/Classes/CAPSPageMenu+UIGestureRecognizerDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/PageMenu/Classes/CAPSPageMenu+UIGestureRecognizerDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>PageMenu</string>
				<string>Classes</string>
			</array>
		</dict>
		<key>Libarary/PageMenu/Classes/CAPSPageMenu+UIScrollViewDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/PageMenu/Classes/CAPSPageMenu+UIScrollViewDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>PageMenu</string>
				<string>Classes</string>
			</array>
		</dict>
		<key>Libarary/PageMenu/Classes/CAPSPageMenuConfiguration.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/PageMenu/Classes/CAPSPageMenuConfiguration.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>PageMenu</string>
				<string>Classes</string>
			</array>
		</dict>
		<key>Libarary/PageMenu/Classes/MenuItemView.swift</key>
		<dict>
			<key>Path</key>
			<string>Libarary/PageMenu/Classes/MenuItemView.swift</string>
			<key>Group</key>
			<array>
				<string>Libarary</string>
				<string>PageMenu</string>
				<string>Classes</string>
			</array>
		</dict>
		<key>Scenes/BaseViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/BaseViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
			</array>
		</dict>
		<key>Scenes/Explore/Country/CountryConfigurator.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/Country/CountryConfigurator.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>Country</string>
			</array>
		</dict>
		<key>Scenes/Explore/Country/CountryController.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/Country/CountryController.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>Country</string>
			</array>
		</dict>
		<key>Scenes/Explore/Country/CountryPresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/Country/CountryPresenter.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>Country</string>
			</array>
		</dict>
		<key>Scenes/Explore/Country/CountryViewRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/Country/CountryViewRouter.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>Country</string>
			</array>
		</dict>
		<key>Scenes/Explore/Country/Cell/CountryTableViewCell.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/Country/Cell/CountryTableViewCell.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>Country</string>
				<string>Cell</string>
			</array>
		</dict>
		<key>Scenes/Explore/Country/Cell/CountryTableViewCell.xib</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/Country/Cell/CountryTableViewCell.xib</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>Country</string>
				<string>Cell</string>
			</array>
		</dict>
		<key>Scenes/Explore/PlayList/PlaylistConfig.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/PlayList/PlaylistConfig.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>PlayList</string>
			</array>
		</dict>
		<key>Scenes/Explore/PlayList/PlaylistController.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/PlayList/PlaylistController.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>PlayList</string>
			</array>
		</dict>
		<key>Scenes/Explore/PlayList/PlaylistPresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/PlayList/PlaylistPresenter.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>PlayList</string>
			</array>
		</dict>
		<key>Scenes/Explore/PlayList/PlaylistViewRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/PlayList/PlaylistViewRouter.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>PlayList</string>
			</array>
		</dict>
		<key>Scenes/Explore/PlayList/Cell/PlaylistTableViewCell.swift</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/PlayList/Cell/PlaylistTableViewCell.swift</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>PlayList</string>
				<string>Cell</string>
			</array>
		</dict>
		<key>Scenes/Explore/PlayList/Cell/PlaylistTableViewCell.xib</key>
		<dict>
			<key>Path</key>
			<string>Scenes/Explore/PlayList/Cell/PlaylistTableViewCell.xib</string>
			<key>Group</key>
			<array>
				<string>Scenes</string>
				<string>Explore</string>
				<string>PlayList</string>
				<string>Cell</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
